#theme {
	font-family: $font-family-secondary;
  justify-content: flex-end;
  align-items: flex-end;
  
  select[is="theme-selector"] {
    all: unset;
    background-color: white;
    border: 1px ridge rgb(250, 250, 250);
    padding: .2em .4em;
    margin: 0 .4em .4em 0;
    cursor: pointer;

    option {
      text-align: center;
    }
  }
}
