@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;600;700&display=swap');

:root{
	--font1: 'Open Sans', Verdana, sans-serif;
	--fs1: large;
	--padding1: .75em;
	
	--borderColor1: #000;
	--borderColor2: #2b2b2b;
	--borderColor-buttonHover: transparent;
	--bgColor: #222;
	--bgColor-button: #fff;
	--bgColor-buttonHover: #000;
	--textColor: #0f0;
	--textColor-budget: #ffff00;
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: var(--font1);
}

html, body {
	margin: 0;
	height: 100%;
}

body {
	background-image: url('../img/reservoir-canyon.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column;
}

/*  */
/*  */

#content {
	align-self: center;
	display: grid;
	grid-template-rows: 6fr 1fr;
}

#content > div {
	background-color: var(--bgColor);
	color: var(--textColor);
	border-width: 1px;
	border-style: solid;
	border-color: var(--borderColor1);
}

label {
	margin-right: 1em;
}

input {
	width: 20%;
	text-align: right;
	font-size: var(--fs1);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

p {
	margin: 0
}

/*  */
/*  */

#info {
	margin-bottom: 1em;
	display: grid;
	grid-template-rows: 2fr 1fr;
	padding: 1em 1em 0 1em;
}

#the-inputs {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
}

.inputs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .85em;
}

/*  */
/*  */

#controls {
    width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: var(--borderColor2);
}

#reset-button {
	background: var(--bgColor-button);
    padding: .5em;
    border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
    color: var(--bgColor);
    font-size: .92em;
	cursor: pointer;
}

#reset-button:hover {
	color: var(--textColor);
	background-color: var(--bgColor-buttonHover);
	border-color: var(--borderColor-buttonHover);
}

#reset-button:active {
	transform: scale(.9);
}

#reset-button::selection {
	background-color: transparent;
}

/*  */
/*  */

#display-budget {
	display: flex;
	align-items: center;
	padding: var(--padding1);
}

#budget-span {
	font-weight: bold;
	color: var(--textColor-budget);
	font-size: var(--fs1);
}

/*  */
/*  */

#display-date {
	padding: .7em .9em;
	font-weight: 600;
	background-color: rgba(255, 255, 255, .6);
}

#display-date:hover {
	background-color: rgba(255, 255, 255, 1);
}

/*  */
/*  */

#theme-selection {
	padding: .5em;
}

#themes {
	border-radius: 0;
	font-family: 'Shippori Mincho', 'Times New Roman', serif;
	/* font-size: var(--fs1); */
}